.input {
  background-color: #f5f5f5;
  color: #242424;
  padding: .15rem .5rem;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 10px 20px -18px;
  border: 1px solid #ccc
}

.input:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

.input:hover {
  outline: 1px solid lightgrey;
}